/*----------------------------------------------------------Main Body Settings*/

html, body {
    font-family: 'Fjalla One', sans-serif;
    overflow-x: hidden;
}



/*---------------------------------------------------------------Media Queries*/

@media(min-width: 992px) {
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: block;
    }
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 30%;
    }
    .order-item {
        position: absolute;
        bottom: 50px;
        right: 17%;
    }
}


@media(min-width: 769px) and (max-width: 991px) {
    .main-msg {font-size: 45px;}
    #subscribe {max-width: 80%; text-align: center;}
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: block;
    }
    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 50%;
    }
    .order-item {
        position: absolute;
        bottom: 50px;
        right: 17%;
    }
}

@media(min-width: 469px) and (max-width: 768px) {
    .main-msg {font-size: 25px;}
    #subscribe {max-width: 60%; text-align: center;}
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: block;
    }
    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 60%;
    }
    .order-item {
        position: absolute;
        bottom: 50px;
        right: 17%;
    }
}

@media screen and (max-width: 468px) {
    .main-msg {font-size: 25px;}
    #subscribe {max-width: 60%; text-align: center;}
    .section-column {
        padding: 0 30px 30px;
        float: none;
        display: block;
    }
    .center-form {
        padding-top: 10px;
        margin: 0 auto;
        max-width: 80%;
    }
    .order-item {
        position: absolute;
        bottom: 50px;
        right: 17%;
    }
}


/*----------------------------------------------------index.html body Settings*/

.background-container {
    background: url("../../assets/images/TheKinksIndex.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    min-height: 90vh;
}
    
.block-divider {
    align-items: center;
    display: flex;
    height: 1px;
    background-color: lightslategray;
}

.btn-sub {
    font-weight: bold;
    border-radius: 10px;
    background-color: #e9967a;
    width: 120px;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-sub:hover,
.btn-sub:focus {
    color: white;
    background-color: red;
    border-color: gray; 
}

.fa-pencil-square-o {
    font-size: 32px;
    align-items: center;
}

.img-square {
    align-items: center;
}

.jumbotron {  
    align-items: center;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    color: dimgray;
    border-radius: 25px;
    background-color: lightgray;
    opacity: 0.8;
}

.main_msg {
    text-align: center;
    align-items: center;
}

#subscribe {
    align-items: center;
    text-align: center;
}

.callout-form {
    background-color: white;
   padding: 40px;
}

.completed {
    background-color: lightblue;
}



/*----------------------------------------------------about.html body Settings*/
.about {
    background-color: lightgray;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    padding-top: 75px;
    text-align: center;
    align-items: center;
}


.bio-text {
    margin-bottom: 15px;
    color: darkslategray;
    padding: 10px;
}

.briefMembers {
    padding-bottom: 25px;
    align-items: center;
    text-align: center;
}

.caption-about {
    padding-top: 10px;
}

.media-body {
    font-size: 12px;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.name {
    font-size: 14px;
    font-weight: bold;
}

.thumbnail {
    height: 450px;
    width: 220px;
    background-color: floralwhite;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    margin: 15px auto;
    margin-bottom: 50px;
    padding: 5px;
}

.row-first {
    display: inline-block;
    align-items: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 50px;
}

.row-second {
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    align-items: center;
    padding-left: 175px;
    padding-right: 175px;
    margin-bottom: 50px;
}

.row-third {
    display: inline-block;
    text-align: center;
    margin-top: 3px;
    align-items: center;
    padding-left: 335px;
    padding-right: 335px;
    margin-bottom: 50px;
}

.text-uppercase {
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
}

.quote {
    font-size: 12px;
    font-weight: lighter;
    height: 320px;
}

/*----------------------------------------------------music.html body Settings*/
.background-music {
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: lightgray;
    padding-top: 75px;
    padding-bottom: 35px;
}

.boxLink {
    height: 75px;
    width: 150px;
    background-color: white;
    border-color: darkslategray;
    border-width: medium;
    border-radius: 50px;
    padding-top: 5px;
    cursor: pointer;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
    align-items: center;
    text-align: center;
    margin: auto;
}

.boxLink:hover {
    background-color: darkgray;
}

.musicCover {
    align-items: center;
    margin: auto;
}

.musicBar {
    width: 250px;
    margin-bottom: 40px;
}

.musicTitle {
    align-items: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
}

.musicAudio {
   margin-bottom: 60px;
   align-items: center;
   text-align: center;
   cursor: pointer;
}


/*Smaller screen view music.html*/

.songTitle {
    -webkit-transition: color 0.3s; 
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s; 
    transition: color 0.3s;
}

.songTitle:hover {
    color: slategray;
    border-color: gray;
}

.quote-music {
    font-size: 12px;
    font-weight: lighter;
}

:-webkit-input-placeholder { }
:-moz-placeholder {}
:-o-placeholder {color: #4a4a4a;}
:-ms-input-placeholder {color: #4a4a4a; }

/*---------------------------------------------------photos.html body Settings*/
.background-photos {
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: lightgray;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 20px;
}

.photo {
    margin-bottom: 5px;
}


/*---------------------------------------------------events.html body Settings*/
.tours-container {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: lightgray;
    align-items: center;
    padding-top: 75px;
}

.request-container {
    align-items: center;
    text-align: center;
}

.fa-user {
    margin-left: 5px;
    margin-right: 5px;
}

.btn-sm {
    margin-bottom: 20px;
    -webkit-transition: background-color 0.3s, border-color 0.3s; 
    -moz-transition: background-color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, border-color 0.3s; 
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-sm:hover {
    background-color: orange;
    border-color: gray;
}

.btn-success {
    -webkit-transition: background-color 0.3s, border-color 0.3s; 
    -moz-transition: background-color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, border-color 0.3s; 
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-success:hover {
    background-color: green;
    border-color: gray;
}


.text{
    font-size: 12px;
}

.feature {
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
}

.dropdown-menu {
    margin-top: 7px;
}

#form-link{
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

#form-link:hover {
    color: blue;
}

.select-option {
    color: gray;
}


.callout-form {
    border-radius: 10px;
    margin: 30px;
    align-items: center;
    text-align: center;
}

#return-events {
    margin-top: 85px;
    padding: 10px;
    -webkit-transition: background-color 0.3s; 
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s; 
    transition: background-color 0.3s;
}

#return-events:hover {
    background-color: lightblue;
}

.fa-home {
    margin-top: 0px;
}

/*---Allows Placeholder and required error messages to appear on 
across different browsers when user tries to submit empty form--*/ 

:-webkit-input-placeholder {color: #4a4a4a; }
:-moz-placeholder {color: #4a4a4a; }
:-o-placeholder {color: #4a4a4a;}
:-ms-input-placeholder {color: #4a4a4a; }


/*----------------------------------------------------store.html body Settings*/
.background-store {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: lightgray;
    padding-top: 75px;
    text-align: center;
    align-items: center;
}

.summary {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 5px;
}


.store-item {
    padding-top: 15px;
    padding-bottom: 20px;
    align-items: center;
}


.heading-item {
    text-decoration: bold;
    text-align: center;
    align-items: center;
    font-size: 25px;
    margin-top: 15px;
}


.caption-store {
    padding: 10px;
}

.fa-cart-arrow-down {
    font-size: 15px;
}

.btn-s {
    margin-top: 10px;
    -webkit-transition: background-color 0.3s, border-color 0.3s; 
    -moz-transition: background-color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, border-color 0.3s; 
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-s:hover {
    background-color: lightgreen;
    border-color: gray;
}

.order-item {
    position: absolute;
    bottom: 50px;
    width: 65%;
}


/*-----------------------------------------------------Navigation Bar Settings*/
nav {
    background-color: transparent;
}

.header-style {
    height: 50px;
}

.uppercase {
    text-transform: uppercase;
}

.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 0;
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}


.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.active {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.nav-tab {
    color: lightgray;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.nav-tab:hover {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-right {
    margin-right: 0px;
    text-align: center;
}

.navbar-btn {
    font-weight: bold;
    border-radius: 5px;
    background-color: #e9967a;
    color: lightslategray;
    width: 75px;
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, border-color 0.3s;
    transition: background-color 0.3s, border-color 0.3s;
}

.navbar-btn:hover {
    background-color: red;
    border-color: #df4929;
    color: white;
}

.sr-only {
    background-color: white;
}

.icon-bar {
    background-color: white;
}

/*------------------------------------------------------------Footer Settings*/

.bottom {
    background-image: url("../../assets/images/footer_background.jpg");
    opacity: 0.85;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.important-info {
    padding-top: 4px;
    padding-bottom: 3px;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
}

.important-info, a:hover {
    color: lightblue;
    text-decoration: none;
}

.strong {
    padding-top:1%;
    padding-bottom: 0%;
    color: white;
}

.copyright-info {
    padding-top: 15px;
    color: lightgray;
    margin-bottom: 0;
}

.fa-sign-in {
    font-size: 17px;
}

.icon {
    width: 75px;
    font-size: 40px;
    padding: 15px;
    -webkit-transition: font-size 0.5s, color 1.5s;
    -moz-transition: font-size 0.5s, color 1.5s;
    -o-transition: font-size 0.5s, color 1.5s;
    transition: font-size 0.5s, color 1.5s;
}

#a5 {
    transition-timing-function: ease-in-out;
}

.icon:hover {
    font-size: 45px;
    color: lightblue;
}
