/*-------------------------------------------- Font Settings*/
body {
    font-family: 'Fjalla One', sans-serif;
}

/*-------------------------------------------- Navbar Settings*/
nav {
    background-color: transparent;
}

.navbar-success {
    background:  #0e2f44;
}

.header-style {
    height: 50px;
}

.uppercase {
    text-transform: uppercase;
}
    
.nav-tab:hover {
    text-decoration: underline;
}

/*--------------------------------------------Callout Settings*/

.callout {
    text-align: center;
    height: 100vh;
    background-clip: border-box;
    background: url('/assets/images/TheKinksIndex.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    z-index: -1;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*--------------------------------------------Device-size Settings*/

/*-------------------------------------------- Social Links*/

.social{
    padding-bottom: 15px;
}

.social li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social li a i:hover {
    background: #e84610;
}

#footer-details {
    margin: 20px;
}

/*-------------------------------------------------Navbar Settings*/
.navbar {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: transparent;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}


.navbar-btn {
    border: 10px;
    border-radius: 50px;
    width: 100px;
    background-color: #f05f40;
    color: white;
    text-align: center;
}

.navbar-btn:hover {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

/*------------------------------------------Bottom of Page Settings*/
.bottom {
    text-align: center;
    background-color: transparent;
    background-image: url(/assets/images/TheKinksIndex.jpg);
    position: relative;
    opacity: 0.85;
    border-color: lightgray;
    border-width: thick;
}

.important-info:hover {
    color: purple;
    text-decoration: none;
}

.strong {
    padding-top:1%;
    padding-bottom: 0%;
    color: white;
}






